## Build results
bin/
obj/
[Bb]uild/
[Ll]og/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

## Others
*.vspscc
*.vssscc
_ReSharper*/
*.resharper
*.DotSettings.user
*.dotCover
*.nunit.*
*.orig
*.bak
*.tmp
*.swp

# OS-specific
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
